* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: burlywood;
    color: blue;
    border-radius: 2px solid black;    
}